<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8" />
    <title>Green Age</title>
    <link th:href="@{/css/tooplate_style.css}" rel="stylesheet" />
</head>

<body class="homepage">

<div id="tooplate_wrapper">


    <div id="tooplate_header">
        <div id="site_title">
            <div id="tooplate_main">
                <h2>Welcome to Green Age - B</h2>
                <p>Nội dung từ máy B</p>
            </div>
        </div>
    </div>

    <div id="tooplate_menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>



</div>




</body>
</html>